
@font-face {
    font-family: botsmatic;
    src: url('./fonts/Botsmatic3d-Exl8.ttf');
}

@font-face {
    font-family: trulymadly;
    src: url('./fonts/TrulyMadlyDpad-a72o.ttf');
}

@font-face {
    font-family: playfair;
    src: url('./fonts/Playfair.ttf');
}

@font-face {
    font-family: alien;
    src: url('./fonts/AlienLeague.ttf');
}

* {
    zoom: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: playfair;
}

/* Add a black background color to the top navigation */
#menu {
    background-color: #679664;
    overflow: hidden;
    padding-bottom: 7px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}


/* Style the links inside the navigation bar */
#menu_right a {
position: relative;
float: left;
color: #E4EEE3;
text-align: center;
padding-top: 14px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 4px;
text-decoration: none;
font-size: 24px;
}

html {
scroll-behavior: smooth;
}

/* Animation for the underline */
#menu_right a:before {
content: "";
position: absolute;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: #E4EEE3;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out 0s;
}
#menu a:hover:before {
visibility: visible;
transform: scaleX(.75);
}

/* Right-aligned section inside the top navigation */
#menu_right {
margin-right: 9.40%;
float: right;
}

#menu_left {
    color: #E4EEE3;
    text-align: center;
    padding-top: 14px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 4px;
    text-decoration: none;
    margin-left: 8.5%;
    float:left;
    font-size: 24px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

body{
    background-color:#080C0C;
}

h1 {
    color: #E4EEE3;
}
h4{
    font-size: 16px;
    color: #E4EEE3;
}

h2 {
    color: #E4EEE3;
    font-size: 24px;
    margin: 3%;
    text-align: center;
}

h3{
    font-size: 25px;
    color: #E4EEE3;
    text-decoration: underline;
}


ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: black;
}



.box-container {
    display: flex;
    justify-content: space-evenly;
    
}

.box-container2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.box-container3 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    
}



.curvedbox {
    border-radius: 25px;
    border: 10px solid #3C747C;
    padding: 20px;
    height: 275px;
    width: 700px;
    text-align: center;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.5);
}

.clearbox {
    border-radius: 25px;
    border: 15px;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    height: 20%;
    width: 35%;
    text-align: center;
}

/* link hover */

b {
    position: relative;
    color: white;
    text-decoration: none;
}

b:hover {
    color:white;
}

b:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}



.clearbox2 {
    border-radius: 25px;
    border: 10px;
    background-color: #679664;
    padding: 20px;
    height: 300px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 0px 5px #3B5639 inset, 0 0 0 0 #080C08;
}

figure { 
    display: inline-block;
    text-align: center;
}

.ctg-img {
    border-radius: 50%;
    border: 8px solid #1A373B;
    height: 100px; 
    width: 100px;
}

.ctg-img-left {
    border-radius: 50%;
    border: 8px solid #1A373B;
    height: 100px; 
    width: 100px;
    margin-right: 20px;
}

.ctg-img-right {
    border-radius: 50%;
    border: 8px solid #1A373B;
    height: 100px; 
    width: 100px;
    margin-left: 80px;
}

.ctg-row {
    display: inline-flex;
    margin-top: 3%;
}

.h2-name {
    font-size: 24px;
    width: 100%;
}

.tabs {
    box-sizing:border-box;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    height:1000px;
    background:#3C7484;
    box-shadow:5px 5px 10px 5px black;
    border-radius: 20px;
    overflow:hidden;
    margin-bottom: 5%;
}
.tabs .tab-header {
    float:left;
    width:180px;
    height:100%;
    border-right:1px solid #ccc;
    padding:50px 0px;
}
.tabs .tab-header > div {
    height:50px;
    line-height:50px;
    font-size:16px;
    font-weight:600;
    color:#FFF;
    cursor:pointer;
    padding-left:10px;
}
.tabs .tab-header > div:hover,
.tabs .tab-header > div.active {
    color:#69CCE0;
}
.tabs .tab-header div i {
    display:inline-block;
    margin-left:10px;
    margin-right:5px;
}
.tabs .tab-content {
    position:relative;
    height:100%;
    overflow:hidden;
}
.tabs .tab-content > div > i {
    display:inline-block;
    width:50px;
    height:50px;
    background:#555;
    color:#f5f5f5;
    font-size:25px;
    font-weight:600;
    text-align:center;
    line-height:50px;
    border-radius:50%;
}
.tabs .tab-content > div {
    position:absolute;
    text-align:center;
    padding:40px 20px;
    top:-200%;
    transition:all 500ms ease-in-out;
}
.tabs .tab-content > div.active {
    top:0px;
}

.tabs .tab-indicator {
    position:absolute;
    width:9px;
    height:50px;
    background:#69CCE0;
    left:176px;
    top:50px;
    transition:all 500ms ease-in-out;
    border-radius: 20px;
}

.watch-button {
    font-size: 20px;
    width: 10%;
    background-color: #70B76B;
    border-color: #3B5639;
    border-radius: 25px;
    color: white;
    box-shadow: 0 0 40px 40px #679664 inset, 0 0 0 0 #3B5639;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  
.watch-button:hover {
box-shadow: 0 0 10px 0 #679664 inset, 0 0 10px 4px #3B5639;
}

.ml5 {
    position: relative;
    color: #E4EEE3;
    font-family: alien;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line0 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #E4EEE3;
    transform-origin: 0.5 0;
  }
  
  .ml5 .letters-middle {
    font-weight: 400;
    width: 1em;
    margin-right: 0.8em;
    margin-left: 0em;
  }
  
  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }


.line {
    font-family: playfair;
    position: relative;
    width: 8em;
    /* margin: 0 auto; */         /* Automatically centers text */
    /* might get rid of the line here
    border-right: 2px solid #69CCE0;
    */
    font-size: 250%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    /*transform: translateY(-50%);*/
}

/* Typewriter-effect Animation*/

.anim-typewriter1 {
    animation: typewriter1 1.5s steps(35) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter2 {
    animation: typewriter2 2s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
    animation-delay: 4s;
}

.anim-typewriter3 {
    animation: typewriter3 1.5s steps(25) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
    animation-delay: 6s;
}

@keyframes typewriter1 {
    from {
        width: 0;
    }
    to {
        width: 18em;
    }
}

@keyframes typewriter2 {
    from {
            width: 0;
    }
    to {
            width: 17.5em;
    }
}

@keyframes typewriter3 {
    from {
            width: 0;
    }
    to {
            width: 7.5em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #69CCE0;
    }
    to {
        border-right-color: transparent;
    }
}
